# Using Tractor catalog for positions

In [2]:
import matplotlib.pyplot as plt
from astropy.io import fits as fits
from astropy.wcs import WCS
from astropy.utils import data as data_utils
from astropy.nddata import bitmask

# version dependencies are currently an issue
import pkg_resources
pkg_resources.require("numpy==1.26.3")
import numpy as np

# import json
# import requests
from dl import authClient as ac, queryClient as qc
import pandas as pd

## Image query

In [25]:
def query_tractor(ra_b, dec_b, dist):
    """Queries the Astro Data Lab for the ra, dec and mag_g of the objects within a square of side length (dist).     
    dist is in degrees
    """
    #Bounds of the square we are querying objects for
    ra_min=ra_b
    ra_max = ra_b + dist
    dec_min=dec_b
    dec_max = dec_b + dist

    query = f"""
    SELECT ra, dec, mag_g
    FROM ls_dr10.tractor_s
    WHERE ra >= ({ra_min}) AND ra < ({ra_max})
    AND dec >= ({dec_min}) AND dec < ({dec_max})
    AND mag_g>=16 AND mag_g<=21
    """

    print(query)
    
    print("Querying the Astro Data Lab...")
    # check if this completes successfuly
    brick_info = qc.query(sql=query, fmt="pandas")
    return brick_info

#tractor_df = query_tractor(100, -25, 1.0)

In [26]:
for ra_b in [0,1]:
    for dec_b in [-90,-89]:
        info=query_tractor(ra_b,dec_b,dist=1)
        print(info)

    SELECT ra, dec, mag_g
    FROM ls_dr10.tractor_s
    WHERE ra >= (0) AND ra < (1)
    AND dec >= (-90) AND dec < (-89)
    AND mag_g>=16 AND mag_g<=21

Querying the Astro Data Lab...
          ra        dec      mag_g
0   0.988276 -89.132644  20.988073
1   0.222668 -89.305062  20.794958
2   0.789421 -89.294624  20.364925
3   0.495449 -89.290410  20.342780
4   0.757246 -89.288594  18.739302
5   0.695922 -89.287252  19.293839
6   0.388128 -89.274055  19.988960
7   0.206767 -89.269689  18.334524
8   0.771046 -89.258430  18.900785
9   0.846243 -89.257052  16.489193
10  0.268254 -89.219230  17.323652
11  0.610288 -89.214781  17.337160
12  0.543179 -89.213696  20.522438
13  0.533915 -89.195856  20.442114
14  0.304003 -89.170935  20.236864
15  0.460989 -89.167663  18.848656
16  0.632125 -89.161085  19.964457
17  0.488745 -89.157037  18.816286
18  0.929419 -89.143405  20.007538
19  0.900438 -89.141254  19.416662
20  0.079836 -89.130658  17.743507
21  0.063236 -89.130324  17.522781
22  0.051557 -89.123692  20.775423
23  0.641202 -89.120382  17.351534
24  0.303104 -89.112318  20.081007
25  0.629159 -89.116925  19.212572
26  0.886655 -89.108244  19.517590
27  0.923600 -89.108146  18.326965
28  0.716128 -89.091083  18.300503
29  0.594896 -89.088216  20.507484
30  0.068507 -89.064925  20.450323
31  0.726536 -89.056276  19.522180
32  0.574689 -89.043871  20.898787
33  0.072524 -89.038179  18.517584
34  0.958283 -89.038228  19.178112
35  0.093241 -89.032684  19.978725
36  0.124618 -89.032242  16.974562
37  0.374505 -89.028582  20.627398
38  0.468731 -89.032271  20.182930
39  0.856613 -89.029559  20.004864
40  0.191303 -89.016117  18.424090
41  0.214427 -89.008629  17.941298
42  0.418467 -89.000039  20.434300
43  0.954492 -89.006025  18.279716

    SELECT ra, dec, mag_g
    FROM ls_dr10.tractor_s
    WHERE ra >= (0) AND ra < (1)
    AND dec >= (-89) AND dec < (-88)
    AND mag_g>=16 AND mag_g<=21

Querying the Astro Data Lab...
           ra        dec      mag_g
0    0.326406 -88.926474  17.789766
1    0.249590 -88.982215  19.877392
2    0.766587 -88.984983  18.432741
3    0.411129 -88.977270  19.650400
4    0.700604 -88.971401  20.347897
..        ...        ...        ...
267  0.983898 -88.024633  20.102957
268  0.285121 -88.004801  18.339788
269  0.802229 -88.011860  19.865467
270  0.910046 -88.011914  20.174389
271  0.912516 -88.007175  19.292212

[272 rows x 3 columns]

    SELECT ra, dec, mag_g
    FROM ls_dr10.tractor_s
    WHERE ra >= (1) AND ra < (2)
    AND dec >= (-90) AND dec < (-89)
    AND mag_g>=16 AND mag_g<=21

Querying the Astro Data Lab...
          ra        dec      mag_g
0   1.017650 -89.225947  18.338293
1   1.103577 -89.175438  17.405489
2   1.494844 -89.179873  19.658520
3   1.042172 -89.164368  19.943600
4   1.924529 -89.310909  18.337511
5   1.977419 -89.275482  20.618324
6   1.212371 -89.265164  20.496988
7   1.928117 -89.254094  20.058878
8   1.681235 -89.248088  20.683105
9   1.388235 -89.233954  18.457504
10  1.776951 -89.221132  19.230780
11  1.781525 -89.198405  20.972414
12  1.154146 -89.182163  19.570957
13  1.193582 -89.179367  16.821644
14  1.697992 -89.171798  19.933172
15  1.044277 -89.160390  20.557991
16  1.371937 -89.132889  20.999002
17  1.675292 -89.115115  19.091908
18  1.507572 -89.108943  20.657732
19  1.468976 -89.048196  19.816105
20  1.747822 -89.045347  20.138525
21  1.750297 -89.035003  20.053211
22  1.875781 -89.018937  16.512318
23  1.399182 -89.103080  20.568686
24  1.413494 -89.103081  20.871775
25  1.407118 -89.066855  20.986948
26  1.300463 -89.058761  20.767622
27  1.002347 -89.052025  19.441515
28  1.115470 -89.039803  19.614727
29  1.386108 -89.033537  16.505718
30  1.431920 -89.017351  20.705915
31  1.307936 -89.015549  17.828032
32  1.090221 -89.012269  18.669073
33  1.576011 -89.005069  20.002972
34  1.658723 -89.013871  20.793764

    SELECT ra, dec, mag_g
    FROM ls_dr10.tractor_s
    WHERE ra >= (1) AND ra < (2)
    AND dec >= (-89) AND dec < (-88)
    AND mag_g>=16 AND mag_g<=21

Querying the Astro Data Lab...
           ra        dec      mag_g
0    1.914060 -88.698188  19.165491
1    1.306723 -88.669088  18.795763
2    1.215123 -88.997510  16.268510
3    1.062180 -88.929135  16.290916
4    1.093504 -88.928313  19.433914
..        ...        ...        ...
222  1.132503 -88.016245  19.899090
223  1.538751 -88.021294  18.376642
224  1.329747 -88.020613  19.664293
225  1.843834 -88.035510  20.278822
226  1.907639 -88.016099  19.782234

[227 rows x 3 columns]

## Get bitmask info

In [6]:
# there will be a text file to read from at some point lol
masked_stars = np.genfromtxt("mask_data.txt", delimiter=' ', names=True, dtype=None)
masked_stars

array([0.04868477, 0.102481  , 0.11692324, 0.00341858, 0.04326776])

## Segmentation map